body .wrap{
    width: 760px!important;
}
body .top ul{
    width: 750px!important;
}
body .top ul li{
    width: 90px!important;
}
body .content{
    width: 570px!important;
    overflow: hidden!important;
}
body .conle{
    width: 569px!important;
    overflow: hidden!important;
    border-right: 1px solid #dadada!important;
}
body .bd360{
    width: 180px!important;
    overflow: hidden!important;
}
body .bd360 .bd{
    width: 180px!important;
    overflow: hidden!important;
}
body .bd360 .tit{
    width: 179px!important;
    border-right: 1px solid #dadada!important;
    overflow: hidden!important;
}
body .bd .tit h3{
    font-size: 12px!important;
}
body .bd .bdcon li span{
    padding-right: 0px!important;
}
body .bd .bdcon li .limit{
    display: block!important;
    float: left!important;
    width: 88px!important;
    overflow: hidden!important;
    height: 28px!important;
    line-height: 28px!important;
}
body .bd .bdcon .red .limit{
    width: 82px!important;
    height: 36px!important;
    line-height: 36px!important;
}
body .nr{
    width: 568px!important;
    overflow: hidden!important;
}
body .nr .big{
    padding-left: 10px!important;
}
body .nr .small{
    width: 177px!important;
    overflow: hidden!important;
}
body .nr .small .wz{
    width: 107px!important;
}
body .nr .small .wz p{
    max-height: 52px!important;
}
body .nr .big .wz h1, body .nr .small .wz h1{
    padding-left: 0px!important;
}
body .nr .big .wz p,body .nr .small .wz p{
    text-indent: 0px!important;
}
body .ulist{
    width: 570px!important;
}
body .ulist .linkku{
    width: 184px!important;
    overflow: hidden!important;
    margin-left: 4px!important;
}
body .wz_l{
    width: 550px!important;
}
body .wz_r{
    width: 200px!important;
    overflow: hidden!important;
}
body .wz_l .wright{
    width: 306px!important;
    margin:10px 10px 0 0 !important;
}
body .wz_l .mainarea{
    padding:0 0 0 10px!important;
}
body #lzico,body #wjico{
    top:-10px!important;
}