* {
  font-family: arial, sans-serif !important;
}
a.downloadable:link,
a.downloadable:visited {
  text-decoration: none !important;
}
a.downloadable:hover {
  background: none !important;
  color: #044cb8 !important;
  text-decoration: underline !important;
}

.top_bar, 
.sosomusic_player, 
#flashad, 
#footer ul, 
#result_footer, 
.keep_con,  
#song_tips, 
.video_box *, 
.tool_bar, 
.song_box button,
a[href="#"],
div.shoufa_box .recom_box,
.tips_em,
.bt_obj,
.sort_bar,
.menu_tag ul,
.nav_side {
  display: none !important;
}

.s_item.unfold h3.title a {
  display: block !important;
}
map#navigation li.nav_index {
  margin-left: 0 !important;
}
#navigation li.nav_taoge,
#navigation li.nav_shoufa,
#navigation li.nav_topic {
  display: none !important;
}
body {
  padding-top: 15px !important;
}

body,
.search_footer_box {
  min-width: 780px !important;
  width: 800px !important;
}
div.head,
div.page_one,
div.page_two,
div.singer_box,
div.page_singer_info,
div.toplist_box,
div.album_box,
div.topic_box,
div.shoufa_box,
div#footer,
.con_box,
div.result_footer,
div.search_box_con,
div.result_box,
div.song_box .more {
  width: 760px !important;
}

div.head {
  overflow: visible !important;
}

.mini_box {
  display: none !important;
}
div.singer_head .top_title .singer_nav dt {
  display: none !important;
}
ol.album_list li .bt_playalbum {
  display: none !important;
}
ol.album_list li .issue_date,
ol.album_list li .languages {
  display: none !important;
}
.ad_247x130 {
	display: none !important;  
}
div.topic_box .recom_box {
  display: none !important;
}
.mod_songlist .song_list td {
  display: none !important;
}
.result_box .recom_box {
  display: none !important;
}
.point_con {
  display: none !important;
}
.special_list li a,
.special_list li .i_listen {
  display: none !important;
}
.bt_playalbum {
  display: none !important;
}
div.con_box {
  background: none !important;
}
/* 高度调整 */
/* 导航 */
#navigation h2,
#navigation ul{
 top: 60px !important;
}
/* 主体 */
/* 首页 */
div.page_one {
  top: 70px !important;
}
/* 首页 */
div.page_two {
  top: 50px !important;
}
/* 排行 */
div.toplist_box {
  top: 51px !important;
}
/* 专辑 */
div.album_box {
  top: 50px !important;
}
/* 歌手 */
div.singer_box,
div.page_singer_info {
  margin-top: 50px !important;
  padding-bottom: 0px !important;
}
/* 搜索 */
div.result_box {
  top: 65px !important;
}

#search_form .search_box{
  top: 0 !important;
}
#search_form_foot {
  margin-top: 30px;
  margin-bottom: 10px;
}
#search_form2 {
  margin-top: 60px;
}
div.toplist_new,
div.toplist_hot,
div.shoufa_album,
div.toplist_old,
div.toplist_occident,
div.toplist_jk {
  top: 0 !important;
}
.album_head .top_title_v2 {
	height: 100px !important;
	width: 555px !important;
	background: none !important;
	background-color: #EFF6FC !important;
}
.album_head .top_title .album_nav dd {
	width: 490px !important;
	height: 43px !important;
}
div.toplist_con .item_box {
  background: none !important;
  border: 1px solid #b2d0ea !important;
  height: 300px !important;
  width: 280px !important;
  -webkit-border-radius: 3px !important;
}
.part_1 {
  height: 400px !important;
}
.part_2 {
  height: 270px !important;
}
.part_3 {
  height: 300px !important;
}
div.base_box .info {
  margin: 0 !important;
}
div.base_box .info li {
  height: 22px !important;
}
/* 高度调整结束 */
#search_form .search_box h1{
  left: 10px !important;
}
#search_form .search_box .keywords_con{
  left: 200px !important;
}

div.l_con {
  width: 278px !important;
}
div.toplist_new,
div.toplist_old {
  left: 278px !important;
}
div.toplist_hot,
div.toplist_occident {
  left: 518px !important;
}
div.try_list {
  left: 297px !important;
}
div.toplist_con {
  width: 600px !important;
}
div.toplist_con .item_box .item_con {
  border: none !important;
}
div.toplist_con .song_box table {
  width: 100% !important;
}
div.singer_con {
  width: 610px !important;
}
div.singer_head,
div.base_box,
div.summary_box,
div.allsongs_box,
div.singer_alb_box,
div.album_head {
  width: auto !important;
}
div.base_box .intro {
  width: 350px !important;
}
div.singer_zone ol li {
  width: 115px !important;
}
div.singer_head .top_title .singer_nav {
  left: 0 !important;
}
div.singer_head .top_title .singer_nav dd a {
  margin: 0 !important;
}
div.page_singer_info .singer_info_box {
  width: 589px !important; 
}
div.album_con {
  width: 590px !important;
}
div.album_zone ol li {
  height: 150px !important;
  width: 285px !important;
}
ol.album_list li h5,
ol.album_list li .a_info {
  left: 0 !important;
  padding-left: 120px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  width: 160px !important;
  height: 18px !important;
}
ol.album_list li .pic {
  left: 0 !important;
}
ol.album_list li p.summary,
ol.album_list li a.singer {
  left: 120px !important;
  height: 72px !important;
  width: 160px !important;
}

div.topic_box .mix_box{
  width: auto !important;
}
div.shoufa_box .mix_box {
  width: auto !important;
}
.mod_songlist .song_list td.song,
.mod_songlist .song_list td.singer {
  display: table-cell !important;
}
.mod_songlist .song_list .col_bt,
.mod_songlist .song_list .col_bt_last {
  width: 0 !important;
}
.mod_songlist .song_list .col_song {
  width: 250px !important;
}
.mod_songlist .song_list .col_singer {
  width: 100px !important;
}
.song_box th.col_bt,
.song_box td.col_bt,
.song_box col.col_bt,
.song_box col.col_check,
.song_box td.check,
.song_box th.check  {
  width: 0 !important;
  visibility: hidden !important;
}
.result_box .song_box {
  width: 100% !important;
}
.result_box .mix_box {
  width: 100% !important;
}

.head{
  height: auto !important;
}
body{
  overflow-x: hidden !important;
}
.special_list li.name a {
  display: inline !important;
}
.downloadable:before {
  width: 24px;
  height: 13px;
  font-size: 12px;
  line-height: 12px;
  padding: -1px 1px;
  background: #fff;
  border: #044cbb solid 1px;
  -webkit-border-radius: 2px;
  display: inline-block;
  color: #044cbb;
  position: relative;
  top: -1px;
  text-align: center;
  content: '下载';
  margin-right: 1px;
}
a.plain {
  color: #000 !important;
  cursor: text !important;
  text-decoration: none !important;
}
a.plain:hover {
  text-decoration: none !important;
  background: none !important;
}
.album_con .album_list li .summary {
  width: 160px !important;
}

a:hover strong {
  color: inherit !important;
}