html body{
    width: 760px!important;
}
body ul{
    margin:0!important;
    padding: 0!important;
}
body #main_container{
    width: 760px!important;
    overflow: hidden!important;
}
body #header{
    width: 760px!important;
    overflow: hidden!important;
}
body #main_content{
    width: 760px!important;
}
body #center_content{
    width: 620px!important;
}
body #products{
    width: 565px!important;
    clear:both!important;
}
body #right_sidebar{
    width: 130px!important;
}
body #right_newbook{
    padding:0!important;
}
body #right_newbook ul{
    margin: 5px 0!important;
}
body .center_footer{
    width: 760px!important;
}
body .product_box_details{
    margin-left:0px!important;
}
body .product_details{
    width: 180px!important;
}