body{
    display: none;
}
body ul,body p{
    margin: 0px!important;
}
body .wrap{
    width: 760px!important;
    overflow: hidden!important;
}
body .bd360{
    width: 180px!important;
    overflow: hidden!important;
}
body .content{
    width: 570px!important;
    overflow: hidden!important;
}
body .bd{
    width: 180px!important;
}
body .bd .bdcon{
    padding: 0px!important;
}
body .bd .tit{
    width: 179px!important;
    border-right: 1px solid #dadada!important;
}
body .top ul li{
    width: 82px!important;
}
body .conle{
    width: 569px!important;
    border-right: 1px solid #dadada!important;
}
body .nr{
    width: 568px!important;
}
body .nr .big{
    width: 260px!important;
    padding: 14px 8px 0 8px!important;
}
body .nr .big .wz{
    width: 160px!important;
}
body .nr .small .wz{
    width: 110px!important;
}
body .nr .big .wz p, body .nr .small .wz p{
    text-indent: 0px!important;
    margin-right: 0px!important;
    width: auto!important;
}
body .nr .big .wz h1,body .nr .small .wz h3{
    padding-left:0px!important;
    width: auto!important;
}
body .linecl{
    width: 568px!important;
}
body .nr .small{
    width: 179px!important;
    padding-left:8px!important;
}
body .ulist{
    width: 570px!important;
}
body .ulist .linkku{
    width: 140px!important;
}
body .mar5{
    margin-left:0px!important;
}
body .wz_l{
    width: 570px!important;
}
body .wz_l .wleft{
    padding-left:0px!important;
    overflow: hidden!important;
}
body .wz_l .wright{
    width: 372px!important;
}