body #page{
    width: 760px!important;
    overflow: hidden!important;
}
body #header{
    width: 758px!important;
    overflow: hidden!important;
}
body .nav{
    margin-left:0px!important;
    width: 320px!important;
}
body .mp_playmedia{
    width:760px!important;
    overflow: hidden!important;
}
body .esmedia{
    width: 760px!important;
}
body .mp_playmedia .pic_box{
    width:192px!important;
    overflow: hidden!important;
}
body .mp_playmedia .pic_txt{
    overflow: hidden!important;
    width: 120px!important;
}
body #content{
    width: 760px;
    overflow: hidden;
}