body #column_main{
    width: 760px!important;
}
body #column_main .banner{
    width: 760px!important;
}
body #column_main h2{
    background-position: -20px 0!important;
    border-left: 1px solid #cbcbcb!important;
    border-right: 1px solid #cbcbcb!important;
}
body #column_main .border_box{
    width: 738px!important;
    padding:10px!important;
    border-bottom: 1px solid #cbcbcb!important;
}
body #column_main ul.list01{
    width: 740px!important;
}
body #column_main ul.list01 li{
    width: 123px!important;
}
body #column_main ul.list01 li .picture_title{
    width: auto!important;
}
body #column_main .xq{
    width: 760px!important;
}
body #column_main ul.xq_text{
    width: 508px!important;
}
body #column_main ul.xq_text li.wzjj{
    width: auto!important;
}
body #column_main ul.xq_text li.lj{
    width: auto!important;
}
body #column_main .box_bottom825{
    display: none!important;
}
body #column_main ul.xq_text li.lj .blue1,body #column_main ul.xq_text li.lj .blue2{
    font-size: 12px!important;
}
body #column_main .btnv1{
    display: block!important;
    text-decoration: none!important;
}
body #column_main .btnv1:hover{
    text-decoration: none!important;
}