body #globalheader,body #productheader ul,body .grid2col .column.last,
body .moretrailers,body #email,body #rentrak,body #globalfooter,body #main.main,
body #promofooter{
    display: none!important;
}
body #container{
    width: 760px!important;
    overflow: hidden!important;
}
body #main #promos #promofader1{
    width: 440px!important;
    height: 228px!important;
    overflow: hidden!important;
}
body #main #promos #promofader2{
    left:450px!important;
}
body #quickfind{
    right: 30px!important;
}
body #trailers-dropdown .column.last{
    display: block!important;
}
body #productheader,body #hero{
    width: 760px!important;
}
body{
    background-position: center 0!important;
}
body .column.first .dropdown-overlay{
    display: block!important;
}
body .column.last .dropdown-overlay{
    display: none!important;
}
body .first .dropdown-overlay h4{
    color:#fff!important;
    margin:0!important;
}
body .first .dropdown-overlay .hd{
    font-size: 14px!important;
}
body #trailers #trailers-dropdown{
    display: block!important;
    opacity: 1!important;
}
body #trailers #trailers-dropdown li.trailer .column.first{
    width: 110px!important;
}
body #trailers #trailers-dropdown li.trailer .column.last{
    width: 130px!important;
}
body #trailers-dropdown ul.trailers-dropdown{
    display: block!important;
}
body .trailers-handle-arrow{
    display: none!important;
}
#index #productheader{
    margin-top:20px!important;
}
body #trailers .OverlayPanel span{
    display: none!important;
}