body .qyer_header_bg,body .gui_top,body .go2eu_header_crumbBg,
body .main .pr,body .aside,body .qyer_footer,body .jn_pdf,body .ui_feedback,
body .passlayout,body .infoform #loginform{
    display: none!important;
    visibility: hidden;
}
body .main{
    margin: 0 auto!important;
    width: 760px!important;
}
body .content{
    width: 760px!important;
}
body .gui_jnlist_item{
    padding-left:0px!important;
    margin:0 20px!important;
}
body .fr{
    float: none!important;
    display: block!important;
}
body .gui_jnlist{
    margin-left: 15px!important;
}