.logo,.zhengti,.daohang,.neirong,.neirong .xmzt,.bottom{
    width: 760px!important;
    overflow: hidden!important;
}
.neirong h1{
    overflow: hidden!important;
}
.neirong .xmzt .left{
    width: 540px!important;
}
.neirong h1 .jds{
    overflow: hidden!important;
}
.neirong h1 .jds .nr{
    width: 380px!important;
}
.logo .right1{
    width: 617px!important;
    overflow: hidden!important;
}
.neirong .xmzt .left .ejdh{
    width: 525px!important;
}
.mulu1{
    width: 538px!important;
}
.mulu,.mulu1 .tb{
    width: 540px!important;
    overflow: hidden!important;
}
.mulu ul li{
    width: 255px!important;
}
