.wrapper{
    width:760px!important;
}
.contain{
    width: 758px!important;
}
.piclist li{
    margin:15px 10px 0 10px!important;
}
.banner img{
    width: 760px!important;
    height: auto!important;
}
.hover_link{
    display: block;
    width: 128px;
    height: 209px;
    position: absolute;
    top:0px;
    left:0px;
}